.language {
  display: inline;
}
.heading {
  font-size: 1em;
}
#source {
  width: 100% !important;
  background: #cccccc52;
  height: 60vh;
  font-size: 15px;
  resize: vertical;
}
#input {
  background: #cccccc52;
  width: 50%;
  height: 10vh;
  resize: vertical;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}
#output {
  width: 250px;
  min-height: 220px;
  background: #cccccc52;
  font-size: 12px;
  font-weight: bolder;
}
.language {
  width: 100px;
}
